---
import Layout from "@layouts/Layout.astro";
import CallForPapers from "./sections/CallForPapers/CallForPapers.astro";
import CallForSponsors from "./sections/CallForSponsors.astro";
import Hero from "./sections/Hero/Hero.astro";
import PreviousEvents from "./sections/PreviousEvents.astro";
import SponsorsList from "./sections/SponsorsList/SponsorsList.astro";
import Tickets from "./sections/Tickets.astro";
import Venue from "./sections/Venue/Venue.astro";
---

<Layout title="Cloud Native Days Austria">
	<section>
		<Hero />
		<CallForPapers />
		<Tickets />
		<CallForSponsors />
		<PreviousEvents />
		<Venue />
		<SponsorsList />
	</section>
</Layout>

<style>
	section {
		display: flex;
		flex-direction: column;
		gap: var(--space-16);
	}
</style>
