---
import Container from "@components/Container.astro";
import Button from "@components/Button.astro";
---

<section>
	<Container>
		<h2 id="call-for-sponsors">Call for Sponsors</h2>

		<p>
			Join us in making Cloud Native Days Austria a memorable and impactful event for all attendees.
			To explore sponsorship opportunities, please don't hesitate to get in touch with us today.
			Your support will help us create an unforgettable experience for the community while enhancing
			your brand's visibility and recognition. Contact us at{" "}
			<a href="mailto:organizers@cloudnativedays.at"> organizers@cloudnativedays.at </a>
		</p>

		<div>
			<Button href="/files/CND-Austria-2026-sponsor-prospectus.pdf" external>
				Information Slides
			</Button>
			<Button href="/files/CND-Austria-2026-sponsor-agreement-form.pdf" external>
				Agreement Form
			</Button>
			<Button href="mailto:organizers@cloudnativedays.at"> Get in touch </Button>
		</div>
	</Container>
</section>

<style>
	section {
		padding: var(--space-12) 0;
	}

	section :global(.container) {
		max-width: var(--container);
		text-align: center;
	}

	h2 {
		margin-bottom: var(--space-4);
	}

	p {
		margin-bottom: var(--space-6);
	}

	p a {
		color: var(--color-purple);
	}

	p a:hover {
		color: var(--color-pink);
	}

	section > :global(.container) > div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: var(--space-4);
		margin-bottom: var(--space-12);
	}

	@media (max-width: 768px) {
		section > :global(.container) > div {
			flex-direction: column;
			align-items: stretch;
		}
	}
</style>
